onBoot="cowsay Welcome to Nix on Replit!"
run=["sh", "scripts/start.sh"]
entrypoint = "main.go"

[env]
REPLDIR = "/home/runner/${REPL_SLUG}"
PGDATA = "/home/runner/misc/${REPL_SLUG}/postgresql"

[languages.go]
pattern = "**/*.go"

[languages.go.languageServer]
start = "gopls"

[nix]
channel = "unstable"