onBoot="cowsay Welcome to Nix on Replit!"
run=["sh", "scripts/start.sh"]
entrypoint = "main.go"

[env]
MAINDIR = "/home/runner/${REPL_SLUG}"
PGDATA = "${MAINDIR}/.config/postgresql"
GOPATH = "${MAINDIR}/.config/go"

[languages.go]
pattern = "**/*.go"

[languages.go.languageServer]
start = "gopls"

[nix]
channel = "unstable"